*~
*.pyc
*.pyo
BUILD*
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
install-sh
missing
py-compile
demo/Makefile
demo/Makefile.in
doc/Makefile
doc/Makefile.in
doc/conf.py
doc/doctrees
doc/html
doc/*.sphstamp
oputil/Makefile
oputil/Makefile.in
omega/Makefile
omega/Makefile.in
