*~
*.pyc
*.pyo
BUILD
COPYING
INSTALL
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.sub
configure
install-sh
missing
py-compile
demo/Makefile.in
doc/Makefile.in
latexsnippet/Makefile.in
omega/Makefile.in
